<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Node Neko by Team-IIJ</title>
    <link rel="stylesheet" href="/stylesheets/node_neko.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/node_neko.js"></script>
  </head>
  <body>
    <div id="logo"><img id="logimg" src="/images/logo1.png" /></div>
    <div id="screen_name" class="twitter"><% if(screen_name) { %><%= screen_name %><% } else { %>null<% } %></div>
    <div id="loginout">
      <% if(screen_name) { %>
         <a href="/byebye">Logout</a> 
      <% } else { %>
        <a href="/auth/twitter"><img src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png' /></a>
      <% } %>
    </div>
    <div id="play">
      <div id="myneko" class="nekoarea"></div>
      <div id="kirikabu1" class="komono"><img id="kirikabu1img" src="/images/kirikabu.gif" /></div>
      <div id="kirikabu2" class="komono"><img id="kirikabu2img" src="/images/kirikabu.gif" /></div>
      <div id="ki1-1" class="komono"><img id="ki1-1img" src="/images/ki1.gif" /></div>
      <div id="ki1-2" class="komono"><img id="ki1-2img" src="/images/ki1.gif" /></div>
      <div id="ki2-1" class="komono"><img id="ki2-1img" src="/images/ki2.gif" /></div>
      <div id="ki2-2" class="komono"><img id="ki2-2img" src="/images/ki2.gif" /></div>
      <div id="ki3-1" class="komono"><img id="ki3-1img" src="/images/ki3.gif" /></div>
      <div id="ki3-2" class="komono"><img id="ki3-2img" src="/images/ki3.gif" /></div>
      <div id="log1" class="komono"><img id="log1img" src="/images/log.gif" /></div>
      <div id="log2" class="komono"><img id="log2img" src="/images/log.gif" /></div>
      <div id="donguri1" class="komono"><img id="donguri1img" src="/images/donguri.gif" /></div>
      <div id="donguri2" class="komono"><img id="donguri2img" src="/images/donguri.gif" /></div>
    </div>
  </body>
</html>
