#komono {
    z-index: 1000;
}

#kirikabu1 {
    position: absolute;
    top: 400px;
    left: 200px;
}

#kirikabu2 {
    position: absolute;
    top: 300px;
    left: 800px;
}

#ki1-1 {
    position: absolute;
    top: 30px;
    left: 30px;
}
#ki1-2 {
    position: absolute;
    top: 60px;
    left: 1000px;
}

#ki2-1 {
    position: absolute;
    top: 300px;
    left: 400px;
}
#ki2-2 {
    position: absolute;
    top: 500px;
    left: 900px;
}

#ki3-1 {
    position: absolute;
    top: 500px;
    left: 300px;
}
#ki3-2 {
    position: absolute;
    top: 450px;
    left: 1100px;
}

#log1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

#log2 {
    position: absolute;
    top: 60px;
    left: 750px;
}

#donguri1 {
    position: absolute;
    top: 220px;
    left: 60px;
}

#donguri2 {
    position: absolute;
    top: 200px;
    left: 1100px;
}

#tulip1 {
    position: absolute;
    top: 525px;
    left: 100px;
}

#tulip2 {
    position: absolute;
    top: 475px;
    left: 700px;
}

header {
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
    width: 1200px;
    height: 40px;
}

#logo {
    position: absolute;
    top: 5px;
    left: 417px;
    z-index: 1000;
}
#play {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 1200px;
    height: 600px;
    background: url(/images/grass4.png) repeat top left;
    z-index: 10;
}
.nekoarea {
    position: absolute;
    left: 600px;
    top: 300px;
    width: 16px;
    height: 16px;
    z-index: 10000;
}

#screen_name {
    display: none;
}

#loginout {
    position: absolute;
    bottom: 5px;
    left: 0;
}
#loginout img {
    position: absolute;
    bottom: 0;
}

#credits {
    position: absolute;
    bottom: 5px;
    right: 0;
}

#logout_link,
#credits_link {
    display: block;
    background: #a11519;
    color: #ffffff;
    text-decoration: none;
    font-size: 95%;
    padding: 0 3px;
    line-height: 24px;
    opacity: 0.5;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
#credits_link {
    background: #4747d1;
}
#logout_link:hover,
#credits_link:hover {
    opacity: 1.0;
}

#loginmsg {
    position: absolute;
    white-space: nowrap;
    font-family: 'Nunito', sans-serif;
    color: #666;
    left: 160px;
    bottom: 0;
}

#user {
    position: absolute;
    top: 0px;
    left: 300px;
}

.screen_name {
    color: blue;
    font-size: 10pt;
    font-family: 'Nunito', sans-serif;
}

.other_screen_name {
    font-size: 10pt;
    font-family: 'Nunito', sans-serif;
}

#rat {
    position: absolute;
    display: none;
}

#ratimg {
    width: 32px;
    height: 32px;
}

/* Following: Thanks for CSS Sprites Generator Tool http://ja.spritegen.website-performance.org/ */
.tora {
   background: url(/images/nekotora.png) no-repeat top left;
}

.tora.awake{ background-position: 0 0; width: 32px; height: 32px; } 
.tora.down1{ background-position: 0 -82px; width: 32px; height: 32px;} 
.tora.down2{ background-position: 0 -164px; width: 32px; height: 32px; } 
.tora.dwleft1{ background-position: 0 -246px; width: 32px; height: 32px; } 
.tora.dwleft2{ background-position: 0 -328px; width: 32px; height: 32px; } 
.tora.dwright1{ background-position: 0 -410px; width: 32px; height: 32px; } 
.tora.dwright2{ background-position: 0 -492px; width: 32px; height: 32px; } 
.tora.jare2{ background-position: 0 -574px; width: 32px; height: 32px; } 
.tora.kaki1{ background-position: 0 -656px; width: 32px; height: 32px; } 
.tora.kaki2{ background-position: 0 -738px; width: 32px; height: 32px; } 
.tora.left1{ background-position: 0 -820px; width: 32px; height: 32px; } 
.tora.left2{ background-position: 0 -902px; width: 32px; height: 32px; } 
.tora.mati2{ background-position: 0 -984px; width: 32px; height: 32px; } 
.tora.mati1{ background-position: 0 -1066px; width: 32px; height: 32px; } 
.tora.right1{ background-position: 0 -1148px; width: 32px; height: 32px; } 
.tora.right2{ background-position: 0 -1230px; width: 32px; height: 32px; } 
.tora.sleep1{ background-position: 0 -1312px; width: 32px; height: 32px; } 
.tora.sleep2{ background-position: 0 -1394px; width: 32px; height: 32px; } 
.tora.up1{ background-position: 0 -1476px; width: 32px; height: 32px; } 
.tora.up2{ background-position: 0 -1558px; width: 32px; height: 32px; } 
.tora.upleft1{ background-position: 0 -1640px; width: 32px; height: 32px; } 
.tora.upleft2{ background-position: 0 -1722px; width: 32px; height: 32px; } 
.tora.upright1{ background-position: 0 -1804px; width: 32px; height: 32px; } 
.tora.upright2{ background-position: 0 -1886px; width: 32px; height: 32px; }

.black {
   background: url(/images/nekoblack.png) no-repeat top left;
}
.black.awake{ background-position: 0 0; width: 32px; height: 32px; } 
.black.down1{ background-position: 0 -82px; width: 32px; height: 32px; } 
.black.down2{ background-position: 0 -164px; width: 32px; height: 32px; } 
.black.dwleft1{ background-position: 0 -246px; width: 32px; height: 32px; } 
.black.dwleft2{ background-position: 0 -328px; width: 32px; height: 32px; } 
.black.dwright1{ background-position: 0 -410px; width: 32px; height: 32px; } 
.black.dwright2{ background-position: 0 -492px; width: 32px; height: 32px; } 
.black.jare2{ background-position: 0 -574px; width: 32px; height: 32px; } 
.black.kaki1{ background-position: 0 -656px; width: 32px; height: 32px; } 
.black.kaki2{ background-position: 0 -738px; width: 32px; height: 32px; } 
.black.left1{ background-position: 0 -820px; width: 32px; height: 32px; } 
.black.left2{ background-position: 0 -902px; width: 32px; height: 32px; } 
.black.mati1{ background-position: 0 -984px; width: 32px; height: 32px; } 
.black.mati2{ background-position: 0 -1066px; width: 32px; height: 32px; } 
.black.right1{ background-position: 0 -1148px; width: 32px; height: 32px; } 
.black.right2{ background-position: 0 -1230px; width: 32px; height: 32px; } 
.black.sleep1{ background-position: 0 -1312px; width: 32px; height: 32px; } 
.black.sleep2{ background-position: 0 -1394px; width: 32px; height: 32px; } 
.black.up1{ background-position: 0 -1476px; width: 32px; height: 32px; } 
.black.up2{ background-position: 0 -1558px; width: 32px; height: 32px; } 
.black.upleft1{ background-position: 0 -1640px; width: 32px; height: 32px; } 
.black.upleft2{ background-position: 0 -1722px; width: 32px; height: 32px; } 
.black.upright1{ background-position: 0 -1804px; width: 32px; height: 32px; } 
.black.upright2{ background-position: 0 -1886px; width: 32px; height: 32px; } 

.gray {
   background: url(/images/nekogray.png) no-repeat top left;
}
.gray.awake{ background-position: 0 0; width: 32px; height: 32px; } 
.gray.down1{ background-position: 0 -82px; width: 32px; height: 32px; } 
.gray.down2{ background-position: 0 -164px; width: 32px; height: 32px; } 
.gray.dwleft1{ background-position: 0 -246px; width: 32px; height: 32px; } 
.gray.dwleft2{ background-position: 0 -328px; width: 32px; height: 32px; } 
.gray.dwright1{ background-position: 0 -410px; width: 32px; height: 32px; } 
.gray.dwright2{ background-position: 0 -492px; width: 32px; height: 32px; } 
.gray.jare2{ background-position: 0 -574px; width: 32px; height: 32px; } 
.gray.kaki1{ background-position: 0 -656px; width: 32px; height: 32px; } 
.gray.kaki2{ background-position: 0 -738px; width: 32px; height: 32px; } 
.gray.left1{ background-position: 0 -820px; width: 32px; height: 32px; } 
.gray.left2{ background-position: 0 -902px; width: 32px; height: 32px; } 
.gray.mati1{ background-position: 0 -984px; width: 32px; height: 32px; } 
.gray.mati2{ background-position: 0 -1066px; width: 32px; height: 32px; } 
.gray.right1{ background-position: 0 -1148px; width: 32px; height: 32px; } 
.gray.right2{ background-position: 0 -1230px; width: 32px; height: 32px; } 
.gray.sleep1{ background-position: 0 -1312px; width: 32px; height: 32px; } 
.gray.sleep2{ background-position: 0 -1394px; width: 32px; height: 32px; } 
.gray.up1{ background-position: 0 -1476px; width: 32px; height: 32px; } 
.gray.up2{ background-position: 0 -1558px; width: 32px; height: 32px; } 
.gray.upleft1{ background-position: 0 -1640px; width: 32px; height: 32px; } 
.gray.upleft2{ background-position: 0 -1722px; width: 32px; height: 32px; } 
.gray.upright1{ background-position: 0 -1804px; width: 32px; height: 32px; } 
.gray.upright2{ background-position: 0 -1886px; width: 32px; height: 32px; } 

.white {
   background: url(/images/nekowhite.png) no-repeat top left;
}
.white.awake{ background-position: 0 0; width: 32px; height: 32px; } 
.white.down1{ background-position: 0 -82px; width: 32px; height: 32px; } 
.white.down2{ background-position: 0 -164px; width: 32px; height: 32px; } 
.white.dwleft1{ background-position: 0 -246px; width: 32px; height: 32px; } 
.white.dwleft2{ background-position: 0 -328px; width: 32px; height: 32px; } 
.white.dwright1{ background-position: 0 -410px; width: 32px; height: 32px; } 
.white.dwright2{ background-position: 0 -492px; width: 32px; height: 32px; } 
.white.jare2{ background-position: 0 -574px; width: 32px; height: 32px; } 
.white.kaki1{ background-position: 0 -656px; width: 32px; height: 32px; } 
.white.kaki2{ background-position: 0 -738px; width: 32px; height: 32px; } 
.white.left1{ background-position: 0 -820px; width: 32px; height: 32px; } 
.white.left2{ background-position: 0 -902px; width: 32px; height: 32px; } 
.white.mati1{ background-position: 0 -984px; width: 32px; height: 32px; } 
.white.mati2{ background-position: 0 -1066px; width: 32px; height: 32px; } 
.white.right1{ background-position: 0 -1148px; width: 32px; height: 32px; } 
.white.right2{ background-position: 0 -1230px; width: 32px; height: 32px; } 
.white.sleep1{ background-position: 0 -1312px; width: 32px; height: 32px; } 
.white.sleep2{ background-position: 0 -1394px; width: 32px; height: 32px; } 
.white.up1{ background-position: 0 -1476px; width: 32px; height: 32px; } 
.white.up2{ background-position: 0 -1558px; width: 32px; height: 32px; } 
.white.upleft1{ background-position: 0 -1640px; width: 32px; height: 32px; } 
.white.upleft2{ background-position: 0 -1722px; width: 32px; height: 32px; } 
.white.upright1{ background-position: 0 -1804px; width: 32px; height: 32px; } 
.white.upright2{ background-position: 0 -1886px; width: 32px; height: 32px; } 

.yellow {
   background: url(/images/nekoyellow.png) no-repeat top left;
}
.yellow.awake{ background-position: 0 0; width: 32px; height: 32px; } 
.yellow.down1{ background-position: 0 -82px; width: 32px; height: 32px; } 
.yellow.down2{ background-position: 0 -164px; width: 32px; height: 32px; } 
.yellow.dwleft1{ background-position: 0 -246px; width: 32px; height: 32px; } 
.yellow.dwleft2{ background-position: 0 -328px; width: 32px; height: 32px; } 
.yellow.dwright1{ background-position: 0 -410px; width: 32px; height: 32px; } 
.yellow.dwright2{ background-position: 0 -492px; width: 32px; height: 32px; } 
.yellow.jare2{ background-position: 0 -574px; width: 32px; height: 32px; } 
.yellow.kaki1{ background-position: 0 -656px; width: 32px; height: 32px; } 
.yellow.kaki2{ background-position: 0 -738px; width: 32px; height: 32px; } 
.yellow.left1{ background-position: 0 -820px; width: 32px; height: 32px; } 
.yellow.left2{ background-position: 0 -902px; width: 32px; height: 32px; } 
.yellow.mati1{ background-position: 0 -984px; width: 32px; height: 32px; } 
.yellow.mati2{ background-position: 0 -1066px; width: 32px; height: 32px; } 
.yellow.right1{ background-position: 0 -1148px; width: 32px; height: 32px; } 
.yellow.right2{ background-position: 0 -1230px; width: 32px; height: 32px; } 
.yellow.sleep1{ background-position: 0 -1312px; width: 32px; height: 32px; } 
.yellow.sleep2{ background-position: 0 -1394px; width: 32px; height: 32px; } 
.yellow.up1{ background-position: 0 -1476px; width: 32px; height: 32px; } 
.yellow.up2{ background-position: 0 -1558px; width: 32px; height: 32px; } 
.yellow.upleft1{ background-position: 0 -1640px; width: 32px; height: 32px; } 
.yellow.upleft2{ background-position: 0 -1722px; width: 32px; height: 32px; } 
.yellow.upright1{ background-position: 0 -1804px; width: 32px; height: 32px; } 
.yellow.upright2{ background-position: 0 -1886px; width: 32px; height: 32px; } 

